<p id="notice"><%= notice %></p>

<p>
  <strong>emp:</strong>
  <%= @employee.emp_id %>
</p>

<p>
  <strong>Emp name]:</strong>
  <%= @employee.emp_name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
